a.bugzilla-link {
  /* position: relative; */
}

.bug-popup {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #31363b;
  border: rgb(209, 213, 218) solid 1px;
  box-shadow: rgba(27, 31, 35, 0.5) 0px 1px 15px;
  border-radius: 5px;
  padding: 1em;
  text-decoration: none;
  margin-bottom: 1.5em;
  max-width: 500px;
}

.bug-popup.loading .loader {
  display: block;
}

.bug-popup .loader {
  display: none;
}

.bug-popup h1 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0;
}

.bug-popup .comment {
  margin-top: 1em;
}

.bug-popup .summary {
  font-size: 0.9em;
}

.bug-popup .path {
  color: #347239;
  font-size: 0.9em;
  padding-top: 0.25em;
  font-weight: bold;
}

a.bugzilla-link:hover .bug-popup {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.loader {
  display: block;
  width: 24px;
  height: 24px;
}
.loader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
